VAHAN_API_HOST=127.0.0.1
VAHAN_API_PORT=8000
VAHAN_API_DEBUG=false
VAHAN_API_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
VAHAN_API_SOCKETIO_CORS_ORIGINS=*
VAHAN_API_RUNNER_TOKEN=change-me
